h1, h2 {
    text-align: center;
    font-size: 32px;
    color: rgb(234, 245, 254);
    background-color: rgb(175, 193, 214);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

* {
    list-style-position: inside;
   
}

body {
    background-color: rgb(254, 217, 223); 
}


ul, ol, p{
    color:rgb(255, 228, 228);
    background-color: rgb(235, 157, 154);
    font-weight: 700;
    font-size: 20px;
    width: 100%;

}

img {
    display: block;
    width: 60%;
    margin: auto;
}

